@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;700&family=Roboto&family=Sixtyfour&display=swap');

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(133deg, #0062ff 0%, #d6e6ff 84%, #ccebff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}

/* Clouds background */
#cloud-intro {
    position: fixed;
    z-index: 1;
    margin-top: 44px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
    url('images/cloud1.png') repeat-x,
    url('images/cloud2.png') repeat-x,
    url('images/cloud3.png') repeat-x;
  animation: 
    wind1 60s linear infinite,
    wind2 90s linear infinite,
    wind3 120s linear infinite;
}

@keyframes wind1 {
  from { background-position: 0px top; }
  to { background-position: -1000px top; }
}

@keyframes wind2 {
  from { background-position: 0px top; }
  to { background-position: -1200px top; }
}

@keyframes wind3 {
  from { background-position: 100px top; }
  to { background-position: -1100px top; }
}

#gif-background-container {
    position: fixed; /* or 'absolute' */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure this is higher than the clouds container */
    background-size: cover;
    background-position: center;
    display: none; /* Hide by default, show when needed */
  }
  
.hidden {
    display: none;
}

.logo-image {
    height: 50px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the logo and the text */
    filter: drop-shadow(1px 1px 1px #000000a2);
  }
  
  .header {
    display: flex;
    justify-content: space-between; /* Align to the start of the flex container */
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navigation {
    margin-left: auto;
    display: flex;
    gap: 20px; /* Adjust the gap as needed for your desired spacing */
  }
  
  .header-button {
    z-index: 2;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none; /* This removes the underline */
    display: inline-block; /* Add this to ensure padding and background color are applied */
}

.header-button:hover {
    background-color: #555;
    text-decoration: none; /* This ensures the underline doesn't reappear on hover */
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    font-family: 'Roboto', sans-serif;
    
    flex: 1;
    z-index: 2;
    color: #fff; /* Set paragraph text color to white */
    text-align: center;
    padding-top: 0; /* Keep the original padding at the top */
    padding-bottom: 400px; /* Add padding to the bottom if necessary */
    max-width: 800px;
    margin: auto;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This will center the content vertically */
}

.main-content p {
    text-shadow: 1px 1px 5px #000;
}

h1 {
    color: #fff;
    font-size: 3.5em;
    text-shadow: 5px 5px 2px black;
    font-family: 'Anton', sans-serif;
    margin-bottom: 0.5em; /* Adjust this value as needed for space below the H1 */
}

.control-buttons {
    margin-top: 1em; /* Adjust this value as needed for space above the buttons */
    margin-bottom: 1.4em; /* Adjust this value as needed for space below the buttons */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1em;
    filter: drop-shadow(0 0 0.25rem rgb(255, 255, 255));;
}

/* Apply rounded corners to all buttons */
button, .header-button {
    border-radius: 5px; /* Adjust the pixel value to increase or decrease the roundness */
}


button:hover {
    background-color: #555;
}

/* Styles for YouTube button */
.youtube-button {
    background-color: #ff1a13; /* YouTube Red */
    /* Add any other specific styles for the YouTube button here */
}

.youtube-button:hover {
    background-color: #e10000; /* Darker shade of red for hover effect */
}

/* Styles for Twitch button */
.twitch-button {
    background-color: #6441A6; /* Twitch Blurple */
    /* Add any other specific styles for the Twitch button here */
}

.twitch-button:hover {
    background-color: #592daa; /* Darker shade of purple for hover effect */
}

.instagram-button {
    background-color: #E1306C; /* Instagram brand color */
}

.instagram-button:hover {
    background-color: #c13584; /* Darker shade for hover effect */
}

/* Styles for Discord button */
.discord-button {
    background-color: #768be5; /* Discord Blurple */
    /* Add any other specific styles for the Discord button here */
}

.discord-button:hover {
    background-color: #5c75ce; /* Darker shade of purple for hover effect */
}

/* Hide the play button by default */
#playSoundButton {
    display: none;
  }

  /* Show the play button on mobile devices */
  @media (max-width: 600px) {
    #playSoundButton {
      display: inline-block; /* or 'block' depending on your desired layout */
    }
  }
/* CSS for larger devices like tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles that will apply to iPads and similar tablets */
    #playSoundButton {
        display: inline-block;
    }
}

/*
select { /* "Choose a Sound"
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 1em;
}
*/


footer {
    position: absolute;
    bottom: 10px; /* Set the footer at 10px from the bottom of the page */
    width: 100%; /* Ensure the footer spans the width of the page */
    text-align: center; /* Center the text inside the footer */
    padding: 10px 0; /* 10px padding for top and bottom */
    z-index: 10;
    background: none; /* Assuming you want no background */
    box-shadow: none; /* Remove shadow if any */
}

footer hr {
    display: none; /* Hide the horizontal rule */
}

footer p {
    margin: 0;
    color: white;
    opacity: 1; /* Make text fully opaque */
    font-size: 0.9em;
}


/* Mobile devices */
@media (max-width: 768px) {
    .main-content h1 {
        margin-top: 0; /* Remove the margin at the top for mobile devices */
        font-size: 3em; /* Smaller font size for the h1 on mobile */
    }

    .main-content p {
        font-size: 1.5em; /* Smaller font size for paragraphs on mobile */
    }
    
    .header {
        padding: 10px; /* Reduced padding for mobile devices */
    }
    
    .main-content {
        padding-top: 0; /* Adjust this value as needed for space at the top */
    }

    .control-buttons button {
        padding: 8px 16px; /* Smaller padding for buttons on mobile */
        font-size: 0.8em; /* Smaller font size for buttons on mobile */
    }

    .control-buttons select {
        padding: 8px; /* Smaller padding for select on mobile */
        font-size: 0.8em; /* Smaller font size for select on mobile */
    }
}


/* Pomodoro Timer Styles */
#pomodoro {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 2rem auto;
    text-align: center;
  }
  
  #timer {
    font-family: 'Roboto', sans-serif;
    transition: opacity 0.3s;
  opacity: 1; /* Full visibility by default */
}

/* Add a class in JavaScript when you start or reset the timer to control the opacity */
.timer-hidden {
  opacity: 0; /* Fully transparent */
}
  
  
  #title { /*"Ready?*/
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 1rem;
  }
  
  #countdown {
    font-size: 3rem;
    color: #333333;
    margin-bottom: 1rem;
  }
  
 
  
  #controls button:hover,
  #options button:hover {
    background: #0056b3;
  }
  
  #options {
    display: flex;
    justify-content: space-around; /* This will space out your session and break controls evenly */
    align-items: center; /* This will vertically align your controls */
    margin-top: 1rem;
  }

  #session, #break {
    display: flex;
    align-items:center; /* This will vertically align the buttons and input field */
  }
  
  .option-title {
    margin: 0;
  }
  


/* Styling for the plus and minus buttons and the number input fields */
#options button, #options input[type='number'] {
    background-color: #007bff; /* This is the background color for the buttons */
    color: white; /* This is the text color for the buttons */
    border: none;
    padding: 10px 20px; /* This is the padding inside the buttons */
    margin: 0 5px; /* This is the margin around the buttons */
    font-size: 1rem; /* This is the font size inside the buttons */
    border-radius: 5px; /* This will create rounded corners for the buttons */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* This adds a transition effect for hover states */
  }

 /* Ensures the input fields do not become too wide and matches the height of buttons */
#options input[type='number'] {
    width: 60px; /* Adjust as necessary */
    text-align: center;
  } 

/* Hover state for buttons */
#options button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5); /* Soft shadow for depth */
  }




/* Audio Controls */
audio {
  width: 100%;
  margin-top: 10px;
  filter: drop-shadow(0 0 0.2rem rgb(4, 4, 4));
}


  #session-length,
  #break-length {
    font-weight: bold;
  }
  
  #sound-selection {
    margin-top: 1rem;
  }
  
  #sound-selection label {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  
  #soundOptions {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  

  /* Responsive adjustments */
  @media (max-width: 768px) {
    #pomodoro {
      width: 90%;
      padding: 10px;
    }
  
    #countdown {
      font-size: 2.5rem;
    }

  }
    
  
    /* For Webkit browsers like Chrome and Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


